<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ibrahim.sqlitesoccer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            android:name="add_data"
            android:label="@string/SQLiteSoccer"
        </activity>
        <activity android:name=".addData"></activity>
        <activity android:name=".analyticsHome"></activity>
        <activity android:name=".addDataTeam"></activity>
        <activity android:name=".teamAnalytics"></activity>
        <activity android:name=".playerAnalytics"></activity>
        <activity android:name=".matchAnalytics"></activity>
        <activity android:name=".leagueAnalytics"></activity>
        <activity android:name=".skillsAnalytics"></activity>
    </application>



</manifest>